.i2{
border-radius: 50%;
height:400;
width:400;

}
.i1{
border-radius: 50%;
height:50;
width:100;
}
h4{
text-align:right;
}
h5{
text-color:golden;
}
h2{
font-family:Calibri;
}
p{
font-family:Calibri;
}
.vl2{

background-image: linear-gradient(to left,aquamarine,bisque);
height: 1250px;
position:absolute;
top:0;
left:0;
}
.vl {
  border-left: 3px solid black;
  height: 1250px;
  position:absolute;
  left: 30.2%;
  top:0;
  background-image: linear-gradient(to left,darksalmon,darkseagreen);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th{
 border: 3px solid black;
  text-align: center;
  padding: 8px;
  background-color:grey;
}
td{
 border: 3px solid black;
  text-align: center;
  padding: 8px;
  
}

tr:nth-child(even) {
  background-color: #dddddd;
}
hr{
border:1px solid black
}
img {
  border-radius: 8px;
}
