body{
background-image: url("paisley-background.jpg");
}
.h22{
  font-family: calibri;
}
a{
color:#240b36;
}
.i8{
border-radius: 30%;
position:absolute;
height:40;
width:60;
}
.i7{
border-radius: 30%;
position:absolute;
height:40;
width:60;
}
.i6{
border-radius: 30%;
position:absolute;
height:40;
width:60;
}
.i5{
border-radius: 30%;
position:absolute;
height:40;
width:60;
}
.i4{
border-radius: 30%;
position:absolute;
right:30%
height:50;
width:60;
}
.i3{
border-radius: 30%;
position:absolute;
right:30%
height:50;
width:60;
}
.i2{
border-radius: 50%;
height:400;
width:400;

}
.i1{
border-radius: 55%;
height:50;
width:100;
}
h4{
text-align:right;
}
h5{
color:golden;
}
h2{
font-family:Calibri;
}
.p1{
font-family:Calibri;

}

.vl2{
background-image: url("paisley-background.jpg");
height: 1215px;
position:absolute;
top:0;
left:0;
}
.vl {
  border-left: 1px solid black;
  height: 1400px;
  position:absolute;
  left: 33%;
  top:0;
  background-image: url("a75e2cff4703251acdc4eda9e0f36fba.jpg");
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th{
 border: 1px solid black;
  text-align: center;
  padding: 8px;
  background-color:#9a8478;
}
td{
 border: 1px solid black;
  text-align: center;
  padding: 8px;
  
}
tr:nth-child(even) {
  background-image: linear-gradient(to right,#abbaab,#eef2f3);
}
tr:nth-child(odd) {
  background-image: linear-gradient(to right,#ADA996,#F2F2F2,#DBDBDB,#EAEAEA);
}
hr{
border:1px solid black
}
img {
  border-radius: 8px;
}
